.cardSkills {
    width: 220px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.508);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: var(--space-m);
    margin-bottom: var(--space-m);
}

.cardSkills p {
    font-size: var(--size-m);
    letter-spacing: 3px;
    color: var(--grey-color);
    padding: 0 var(--space-s);
}
