.aboutPicture {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-right: var(--space-m);
    margin-bottom: var(--space-m);
  }

.mainCard::before,
.mainCard::after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
}


.mainCard,
.mainCard::before,
.mainCard::after {
    width: 200px;
    height: 100px;
    background: rgba(45, 138, 167, 0.03);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(248, 250, 255, 0.904);
    transition: all 0.25s ease-in-out;
    text-align: center;
}

.mainCard::before {
    transform: translateX(-10px) rotate(-3deg);
    background-color: transparent;
}

.mainCard::after {
    transform: translateX(-2px) rotate(5deg);
    background-color: transparent;
}
  
.mainCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mainCard p {
    font-size: var(--size-m);
    letter-spacing: 3px;
    color: var(--grey-color);
    padding: 0 var(--space-s);
    z-index: 3;
}

@media only screen and (max-width: 900px) {
    .mainCard,
    .mainCard::before,
    .mainCard::after {
        width: 200px;
        margin-right: var(--space-xs);
        margin-left: var(--space-xs);
    }
}


@media only screen and (max-width: 900px) {
    .mainCard,
    .mainCard::before,
    .mainCard::after {
        width: 160px;
    }

    .mainCard p {
        font-size: var(--size-s2);
    }
}


@media only screen and (max-width: 450px) {
    .mainCard,
    .mainCard::before,
    .mainCard::after {
        width: 140px;
    }

    .mainCard p {
        font-size: var(--size-s);
    }
}

