
/* OBECNÉ NASTAVENÍ */
.outerBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


.innerBox {
  width: 80%;
}



/* HEADER */
.header {
  width: 100%;
  height: auto;
  background-color: var(--second-color);
  padding-top: var(--space-xs);
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.header a {
  text-decoration: none;
  list-style: none;
  font-size: var(--size-m);
  padding-left: var(--space-m);
  letter-spacing: 0.1rem;
}

.header a:hover {
  cursor: pointer;
  color: var(--hover-color);
}





/* FIRST SECTION - LANDING PAGE */
.firstSection-landingPage {
  width: 100%;
  height: 40vh;
  position: relative;
  background-color: var(--second-color);
}

.blueWave {
  width: 100%;
  height: 30rem;
  background-image: url("./assets/blue_wave.svg");
  background-repeat: no-repeat;
}


/* SECOND SECTION */
.secondSection {
  width: 100%;
  height: 60vh;
  background-color: white;
}


/* FOOTER */
.footer {
  width: 100%;
  height: 30vh;
  background-color: var(--second-color);
}