
/* OBECNÉ NASTAVENÍ */
.outerBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


.innerBox {
  width: 80%;
}


/* HEADER */
.header {
  position: relative;
  width: 100%;
  height: 55rem;
  /* background: linear-gradient(270deg, #de82de, #a954f7, #b74294, #7a519f, #ef5eef); */
  /* background: linear-gradient(130deg, #c44fc4, #ec8dec, #c44fc4, #9a459a, #c44fc4, #ec9dec, #c44fc4); */
  background: linear-gradient(130deg, #1698CB, #54c6f4,#b67fd8, #1698CB, #14779e, #693c9c, #1698CB, #5dd0fd);
  background-size: 600% 600%;
  animation: gradientAnimation 10s ease infinite;
  overflow: hidden;
}

          @keyframes gradientAnimation {
            0% {
              background-position: 0% 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
              background-position: 0% 50%;
            }
          }

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none"><path fill="%23ffffff" d="M0,192L48,186.7C96,181,192,171,288,154.7C384,139,480,117,576,106.7C672,96,768,96,864,112C960,128,1056,160,1152,170.7C1248,181,1344,171,1392,160L1440,150L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>') no-repeat;
  background-size: cover;
}

.header .innerBox {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.headerIcons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: fixed;
  top: var(--space-m);;
  left: var(--space-m);
  z-index: 6;
}

.header .headerIcons a {
  padding: 0;
}

.header .innerBox .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: var(--space-m);
}

.header .innerBox .about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: var(--space-m);
  position: relative;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: auto;
  list-style: none;
  padding: var(--space-xs) 0 var(--space-xs) 0;
  background-color: rgba(255, 255, 255, 0.508);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: var(--space-m);
}

.header a {
  text-decoration: none;
  font-size: var(--size-s2);
  letter-spacing: 0.1rem;
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  color: var(--main-color);
}

.header a:hover {
  cursor: pointer;
  color: #145068;
}

.header h1 {
  font-size: var(--size-xxl);
  letter-spacing: 0.6rem;
  line-height: 1.6;
  font-weight: 500;
  color: var(--main-color);
  margin-bottom: var(--space-xs);
}

.header h2 {
  font-size: var(--size-xxl);
  letter-spacing: 0.6rem;
  line-height: 1.6;
  font-weight: 500;
  color: var(--main-color);
  margin-top: 0;
}

.profileImage {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  position: absolute;
  right: 10%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  z-index: 1;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.508);
  background: rgba(255, 255, 255, 0.2);
}

#profileImage {
  right: 10%;
  width: 27rem;
  height: auto;
}


/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */





/* FIRST SECTION - ABOUT ME */
.firstSection-aboutMe {
  width: 100%;
  height: auto;
  background-color: var(--main-color);
  position: relative;
}

.firstSection-aboutMe .innerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding-bottom: calc(var(--space-xl) * 2);
}

.firstSection-aboutMe .aboutPopisek {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 60%;
}

.firstSection-aboutMe h3 {
  font-size: var(--size-xxl);
  font-family: var(--main-font);
  color: var(--purple-color);
  position: absolute;
  padding-top: 2rem;
  top: -7rem;
}

.firstSection-aboutMe h3::after {
  content: "";
  width: 60%;
  height: 3px;
  border-radius: 20px;
  background-color: var(--purple-color);
  position: absolute;
  bottom: -15px;
  left: 2px;
}

.firstSection-aboutMe h4 {
  font-size: var(--size-l);
  font-family: var(--main-font);
  color: var(--purple-color);
  margin-top: var(--space-xs2);
}

.firstSection-aboutMe p {
  font-size: var(--size-m);
  text-align: start;
  line-height: 1.6;
  margin-top: var(--space-xxl);
  margin-right: var(--space-xl);
  z-index: 1;
  color: var(--grey-color);
}

.firstSection-aboutMe .aboutPopisek span {
  font-weight: 600;
  color: var(--purple-color);
}

.firstSection-aboutMe ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-s);
  list-style-position: inside;
  padding-left: 0;
}

.firstSection-aboutMe ul li {
  font-size: var(--size-s2);
  color: var(--grey-color);
}

.timeline {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.timelineCard {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.508);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.922);
  z-index: 1;
  position: relative;
}

.timelineCard h4,
.timelineCard p {
  font-size: var(--size-s);
}

.timelineCard h4 {
  margin: 0;
  margin-bottom: var(--space-xxs);
  padding-top: var(--space-xs);
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  color: var(--hover-color);
}

.timelineCard p {
  margin: 0;
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  padding-bottom: var(--space-xs);
  text-align: center;
  color: var(--grey-color);
}

.timelineCard span {
  font-weight: 600;
}

#komercka {
  padding-bottom: 0;
}

.timelineLine {
  height: var(--space-xs2);
  width: 2px;
  background-color: var(--hover-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
}

.timelineCircle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--hover-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
}

.iconInside {
  font-size: 20px !important;
  padding: calc(var(--space-s) / 4);
}

.iconCircle {
  width: auto;
  height: auto;
  position: absolute;
  color: var(--hover-color);
  background-color: rgba(255, 255, 255, 0.508);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 2;
  display: none;
}

#arrowDown {
  position: absolute;
  font-size: 20px;
  transform: rotate(-90deg);
  bottom: 0;
  color: var(--hover-color);
}





/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */





/* SECOND SECTION - SKILLS */
.secondSection-skills {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
  background-color: var(--second-color);
}

.secondSection-skills .innerBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.secondSection-skills h3 {
  font-size: var(--size-xxl);
  font-family: var(--main-font);
  color: var(--hover-color);
  padding-top: var(--space-m);
  position: relative;
}

.secondSection-skills h3::after {
  content: "";
  width: 60%;
  height: 3px;
  border-radius: 20px;
  background-color: var(--hover-color);
  position: absolute;
  bottom: -15px;
  left: 2px;
}

.secondSection-skills .skills {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  margin: var(--space-m) auto;
}

.secondSection-skills .innerBox ul {
  width: 100%;
  display: block;
  margin-top: var(--space-m);
  margin-bottom: var(--space-xxl);
  padding-left: 0;
  list-style-position: inside;
  font-size: var(--size-m);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: var(--space-m);
}


/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */






/* THIRD SECTION - MÁ PRÁCE */
.thirdSection-portfolio {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to top, #f6f0f9, #f5ecfa, #f4e8fb, #f3e4fc, #f2e0fd, #f2e2fe, #f2e3fe, #f2e5ff, #f4ecff, #f7f2ff, #fbf9ff, #ffffff);
  margin-top: var(--space-xxl);
}

.thirdSection-portfolio .innerBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.thirdSection-portfolio h3 {
  font-size: var(--size-xxl);
  font-family: var(--main-font);
  color: var(--purple-color);
  padding-top: var(--space-m);
  margin-bottom: calc(var(--space-l) * 2);
  position: relative;
}

.thirdSection-portfolio h3::after {
  content: "";
  width: 60%;
  height: 3px;
  border-radius: 20px;
  background-color: var(--purple-color);
  position: absolute;
  bottom: -15px;
  left: 2px;
}

.thirdSection-portfolio .portfolio {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: calc(var(--space-l) * 2);
  margin-bottom: calc(var(--space-l) * 2);
  position: relative;
}

.portfolioMockups {
  width: 65rem;
  height: auto;
  transition: all 0.25s ease-in-out;
}

.portfolioMockups:hover {
  transform: scale(1.05);
}

.portfolio .portfolioPopisek {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: var(--grey-color);
}

.portfolioPopisek h4 {
  font-size: var(--size-l);
  letter-spacing: 2.5px;
  font-weight: 400;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: calc(var(--space-s) * 3);
  color: var(--purple-color);
}

.portfolioPopisek a {
  text-decoration: none;
}

.portfolioPopisek h4:hover {
  color: #3e1d6f;
  cursor: pointer;
}

.portfolioPopisek ul {
  padding-left: calc(var(--space-l) * 2);
  font-size: var(--size-m);
}

.portfolioPopisek ul li {
  padding-bottom: var(--space-xs);
  line-height: 1.7;
}

.portfolioPopisek span {
  color: #b3a5bc;
}

.portfolioPopisek span:hover {
  cursor: pointer;
  color: var(--grey-color);
}

.openWebIcon {
  font-size: var(--size-xl) !important;
}

.dividingLine {
  position: absolute;
  width: 40%;
  height: 2px;
  border-radius: 20px;
  background-color: var(--purple-color);
  bottom: 0;
  left: 30%;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* FOURTH SECTION - KONTAKT */


.fourthSection-contact {
  width: 100%;
  height: auto;
  background-color: var(--main-color);
  margin-top: var(--space-xxl);
}

.fourthSection-contact .innerBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.fourthSection-contact h3 {
  font-size: var(--size-xxl);
  font-family: var(--main-font);
  color: var(--hover-color);
  padding-top: var(--space-m);
  position: relative;
}

.fourthSection-contact h3::after {
  content: "";
  width: 60%;
  height: 3px;
  border-radius: 20px;
  background-color: var(--hover-color);
  position: absolute;
  bottom: -15px;
  left: 2px;
}

.fourthSection-contact .contactPage {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top: var(--space-xxl);
  margin-bottom: calc(var(--space-l) * 2);
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */





/* LAST SECTION - FOOTER */

.footer {
  width: 100%;
  height: auto;
  background-color: var(--second-color);
}

.footer .innerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: var(--size-xs);
  margin: var(--space-xs2) auto;
}



/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */







/* RESPONSIVITA */
/* Větší obrazovky */

@media only screen and (min-width: 2000px) {

  .header {
    height: 60rem;
  }

  .header h1,
  .header h2 {
      font-size: calc(var(--size-l) * 2);
  }

  .header ul {
    font-size: var(--size-s);
  }

  .profileImage {
    width: 35rem;
    height: 35rem;
  }

  .header a {
    font-size: var(--size-l);
  }

  .firstSection-aboutMe h3,
  .secondSection-skills h3,
  .thirdSection-portfolio h3,
  .fourthSection-contact h3 {
    font-size: var(--size-xxxl);
  }

  .firstSection-aboutMe p,
  .firstSection-aboutMe ul li,
  .firstSection-aboutMe h4,
  .secondSection-skills p,
  .thirdSection-portfolio ul li,
  .secondSection-skills .innerBox ul {
    font-size: var(--size-l);
  }

  .firstSection-aboutMe .aboutPopisek h4 {
    font-size: var(--size-xl);
  }

  .firstSection-aboutMe .timeline {
    width: 50%;
  }

  .thirdSection-portfolio a h4 {
    font-size: var(--size-xl);
  }

  .footer p {
    font-size: var(--size-s);
  }


}

@media only screen and (min-width: 2200px) {
  .innerBox {
    width: 75%;
  }
}

@media only screen and (min-width: 2400px) {
  .innerBox {
    width: 70%;
  }
}

@media only screen and (min-width: 2600px) {
  .innerBox {
    width: 65%;
  }
}

@media only screen and (min-width: 2800px) {
  .innerBox {
    width: 60%;
  }
}




/* Menší obrazovky */
@media only screen and (max-width: 1400px) {
  .firstSection-aboutMe .aboutPopisek {
    width: 50%;
  }

  .timeline {
    width: 50%;
  }

  .secondSection-skills .skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }

  .portfolio a {
    align-self: center;
  }

  .portfolioMockups {
    width: 55rem;
    height: auto;
  }

  .portfolio .portfolioPopisek {
    width: 50%;
  }
}

@media only screen and (max-width: 1400px) {
  .secondSection-skills .innerBox ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1200px) {
  .header h1,
  .header h2 {
    margin-left: var(--space-s);
  }

  .profileImage {
    width: 28rem;
    height: 28rem;
    right: 0;
    top: 40%;
  }

  .firstSection-aboutMe .innerBox {
    flex-direction: column;
  }

  .firstSection-aboutMe .aboutPopisek {
    width: 100%;
  }

  .firstSection-aboutMe .aboutPopisek p {
    margin-right: 0;
  }

  .firstSection-aboutMe .aboutPopisek ul {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: var(--space-xxl);
  }

  .firstSection-aboutMe .timeline {
    width: 100%;
  }

  .firstSection-aboutMe .timelineCard {
    width: 60%;
  }
}

@media only screen and (max-width: 1100px) {
  .header h1,
  .header h2 {
    font-size: var(--size-xl);
  }

  .header a {
    padding-left: var(--space-xs2);
    padding-right: var(--space-xs2);
  }

  .thirdSection-portfolio .portfolio {
    flex-direction: column;
  }

  .thirdSection-portfolio .portfolioPopisek {
    order: -1;
  }

  .portfolio .portfolioPopisek {
    width: 100%;
    align-items: center;
    margin-bottom: var(--space-m);
  }

  .portfolioPopisek h4 {
    margin-left: 0;
  }

  .portfolioPopisek ul {
    padding-left: calc(var(--space-l) * 3);
    padding-right: calc(var(--space-l) * 2);
    width: 90%;
  }

  .portfolioMockups {
    width: 100%;
  }

  .fourthSection-contact .contactPage {
    flex-direction: column;
    align-items: center;
  }

}

@media only screen and (max-width: 900px) {
  .innerBox {
    width: 85%;
  }

  .header {
    height: 50rem;
  }

  .header h1,
  .header h2 {
    font-size: var(--size-l);
    margin-left: 0;
  }

  .header .innerBox {
    margin-top: var(--space-xxxl);
  }

  .header .innerBox .links {
    display: none;
  }

  .header .headerIcons {
    flex-direction: row;
    justify-content: end;
    width: 85%;
  }
  
  .profileImage {
    width: 23rem;
    height: 23rem;
    top: 45%;
  }

  #profileImage {
    width: 23rem;
  }

  .firstSection-aboutMe h3 {
    top: -10rem;
  }

  .firstSection-aboutMe h3,
  .secondSection-skills h3,
  .thirdSection-portfolio h3,
  .fourthSection-contact h3 {
    font-size: var(--size-xl);
  }

  .firstSection-aboutMe .aboutPopisek p {
    margin-top: var(--space-s);
    font-size: var(--size-s2);
  }

  .firstSection-aboutMe .aboutPopisek h4 {
    margin-bottom: var(--space-m);
  }

  .firstSection-aboutMe .aboutPopisek li {
    margin-top: 0;
    margin-bottom: 0;
  }

  .firstSection-aboutMe .timeline .timelineCard {
    width: 80%;
  }

  .secondSection-skills .innerBox ul {
    grid-template-columns: 1fr 1fr;
    column-gap: calc(var(--space-l) * 3);
  }

  .thirdSection-portfolio h3,
  .fourthSection-contact h3 {
    padding-top: 0;
  }

  .thirdSection-portfolio .portfolio {
    padding-bottom: var(--space-xl);
    margin-bottom: var(--space-xl);
  }

  .portfolioPopisek ul,
  .secondSection-skills .innerBox ul {
    font-size: var(--size-s2);
  }
}

@media only screen and (max-width: 850px) {
  .firstSection-aboutMe .aboutPopisek ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .header {
    height: 43rem;
  }

  .header .innerBox .about {
    padding-top: 0;
  }

  .header .innerBox {
    position: relative;
  }

  .header h1,
  .header h2 {
    position: absolute;
  }

  .header h1 {
    top: -60px;
  }

  .header h2 {
    top: 0;
  }

  .profileImage {
    width: 20rem;
    height: 20rem;
    margin-top: var(--space-m);
  }

  #profileImage {
    width: 20rem;
  }

  .firstSection-aboutMe h3 {
    top: -13rem;
  }

  .firstSection-aboutMe .aboutPopisek p {
    margin-top: 0;
  }

  .secondSection-skills .innerBox ul {
    row-gap: var(--space-s);
  }
  
  .firstSection-aboutMe .aboutPopisek p,
  .firstSection-aboutMe .aboutPopisek li,
  .portfolioPopisek ul,
  .secondSection-skills .innerBox ul {
    font-size: var(--size-s);
  }

}

@media only screen and (max-width: 630px) {
  .header {
    height: 40rem;
  }

  .header h1,
  .header h2 {
    font-size: var(--size-m);
  }

  .firstSection-aboutMe h3,
  .secondSection-skills h3,
  .thirdSection-portfolio h3,
  .fourthSection-contact h3 {
    font-size: var(--size-l);
  }

  .firstSection-aboutMe .aboutPopisek h4 {
    font-size: var(--size-m);
  }

  .thirdSection-portfolio h3 {
    margin-bottom: var(--space-xl);
  }

  .portfolioPopisek h4 {
    font-size: var(--size-m);
  }

  .profileImage {
    width: 18rem;
    height: 18rem;
  }

  #profileImage {
    width: 18rem;
  }

  .firstSection-aboutMe .aboutPopisek ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .firstSection-aboutMe .timeline .timelineCard {
    width: 90%;
  }

  .secondSection-skills .innerBox ul {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 580px) {
  .header {
    height: 45rem;
  }

  .profileImage {
    margin-top: var(--space-xl);
  }
}

@media only screen and (max-width: 470px) {
  .header .headerIcons {
    top: var(--space-xs2);
    left: -20px;
    width: 100%;
  }

  .header h1 {
    top: -35px;
  }

  .header h2 {
    top: 15px;
  }

  .profileImage {
    width: 15rem;
    height: 15rem;
    margin-top: var(--space-xxl);
    border: 2px solid var(--main-color);
  }

  #profileImage {
    width: 15rem;
  }
}


@media only screen and (max-width: 450px) {
  .firstSection-aboutMe .innerBox {
    padding-bottom: var(--space-xl);
  }

  .thirdSection-portfolio {
    margin-top: var(--space-l);
  }

  .firstSection-aboutMe .aboutPopisek ul {
    grid-template-columns: 1fr 1fr;
  }

  .portfolioPopisek ul {
    padding-left: calc(var(--space-l) * 3);
    padding-right: calc(var(--space-l) * 2.5);
  }
}



@media only screen and (max-width: 400px) {
  .firstSection-aboutMe .timeline .timelineCard {
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .firstSection-aboutMe .aboutPopisek ul {
    grid-template-columns: 1fr;
  }
}