
/* OBECNÉ NASTAVENÍ */
.outerBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


.innerBox {
  width: 80%;
}


/* HEADER */
.header {
  position: relative;
  width: 100%;
  height: 55rem;
  /* background: linear-gradient(270deg, #de82de, #a954f7, #b74294, #7a519f, #ef5eef); */
  /* background: linear-gradient(130deg, #c44fc4, #ec8dec, #c44fc4, #9a459a, #c44fc4, #ec9dec, #c44fc4); */
  background: linear-gradient(130deg, #1698CB, #54c6f4,#b67fd8, #1698CB, #14779e, #693c9c, #1698CB, #5dd0fd);
  background-size: 600% 600%;
  animation: gradientAnimation 10s ease infinite;
  overflow: hidden;
}

          @keyframes gradientAnimation {
            0% {
              background-position: 0% 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
              background-position: 0% 50%;
            }
          }

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none"><path fill="%23ffffff" d="M0,192L48,186.7C96,181,192,171,288,154.7C384,139,480,117,576,106.7C672,96,768,96,864,112C960,128,1056,160,1152,170.7C1248,181,1344,171,1392,160L1440,150L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>') no-repeat;
  background-size: cover;
}

.header .innerBox {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.headerIcons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.headerIcons button {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.508);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); 
  margin-right: var(--space-xs);
}

.headerIcons button:hover {
  cursor: pointer;
  background-color: var(--second-color);
}

.homeIcon {
  font-size: 30px !important;
  color: white;
}

.headerIcons button:hover .homeIcon {
  cursor: pointer;
  color: var(--hover-color);
}

.header .innerBox .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-m);
}

.header .innerBox .about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: var(--space-m);
  position: relative;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  list-style: none;
  padding: var(--space-xs) 0 var(--space-xs) 0;
  background-color: rgba(255, 255, 255, 0.508);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.header a {
  text-decoration: none;
  font-size: var(--size-s2);
  letter-spacing: 0.1rem;
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  color: var(--main-color);
}

.header a:hover {
  cursor: pointer;
  color: #145068;
}

.header h1 {
  font-size: var(--size-xxl);
  letter-spacing: 0.6rem;
  line-height: 1.6;
  font-weight: 500;
  color: var(--main-color);
  margin-bottom: var(--space-xs);
}

.header h2 {
  font-size: var(--size-xxl);
  letter-spacing: 0.6rem;
  line-height: 1.6;
  font-weight: 500;
  color: var(--main-color);
  margin-top: 0;
}

.profileImage {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  position: absolute;
  right: 10%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  z-index: 1;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.508);
  background: rgba(255, 255, 255, 0.2);
}

#profileImage {
  right: 10%;
  width: 27rem;
  height: auto;
}


/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */





/* FIRST SECTION - ABOUT ME */
.firstSection-aboutMe {
  width: 100%;
  height: auto;
  background-color: var(--main-color);
  position: relative;
}

.firstSection-aboutMe .innerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding-bottom: calc(var(--space-xl) * 2);
}

.firstSection-aboutMe .aboutPopisek {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 60%;
}

.firstSection-aboutMe h3 {
  font-size: var(--size-xxl);
  font-family: var(--main-font);
  color: var(--purple-color);
  position: absolute;
  padding-top: 2rem;
  top: -7rem;
}

.firstSection-aboutMe h3::after {
  content: "";
  width: 60%;
  height: 3px;
  border-radius: 20px;
  background-color: var(--purple-color);
  position: absolute;
  bottom: -15px;
  left: 2px;
}

.firstSection-aboutMe h4 {
  font-size: var(--size-l);
  font-family: var(--main-font);
  color: var(--purple-color);
  margin-top: var(--space-xs2);
}

.firstSection-aboutMe p {
  font-size: var(--size-m);
  text-align: start;
  line-height: 1.6;
  margin-top: var(--space-xxl);
  margin-right: var(--space-xl);
  z-index: 1;
  color: var(--grey-color);
}

.firstSection-aboutMe .aboutPopisek span {
  font-weight: 600;
  color: var(--purple-color);
}

.firstSection-aboutMe ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  list-style-position: inside;
  padding-left: 0;
}

.firstSection-aboutMe ul li {
  font-size: var(--size-s2);
  margin-right: var(--space-m);
  margin-bottom: var(--space-s);
  color: var(--grey-color);
}

/* .firstSection-aboutMe ::marker {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.4 16.2c-2.3-2.3-5.4-3.5-8.4-4.5-.5-.2-1.1-.3-1.6-.5-1.6-1.6-3.7-2.8-6.2-3.2-1-.2-1.9.1-2.5.6-.9-.3-1.8-.6-2.7-.8-3.2-1-6.4-1.8-9.5-.1-1 .5-1.9 1.2-2.7 2-6.4 1.4-11.7 5-12.4 12.7C0 27 1.9 31.5 4.9 34.9c.1.6.2 1.1.4 1.7 1 3.2 3.3 5.7 6.7 6.5 2.7.6 5.4-.2 7.9-1.2 3.3.4 6.7.3 9.9 0 6.5-.7 13.3-2.8 17.1-8.5 3.6-5.2 4-12.6-.5-17.2zm-17.3.9c2.1.4 4 1.7 4.7 3.8 0 .5-.1 1.1-.2 1.6-.3 1.4-.8 2.6-1.6 3.7-.7.2-1.5.1-2.3-.4-.8-.4-1.6-1-2.2-1.6-.4-.4-1.2-1.7-1.6-1.9 3.4 1.3 5.1-3 3.2-5.2zm-11.6 9.7c.2-1.9 1.1-3.9 2.3-5.5-.4 2.1.3 4.2 1.7 6 1.3 1.7 3.1 3.2 5 4.2-.2.1-.4.2-.6.4-.1 0-.1.1-.2.1-3.9.2-8.7-.8-8.2-5.2zm-6.4 3.1c.1.3.1.7.2 1 .2.6.4 1.2.7 1.8-.4-.2-.7-.5-1-.7.1-.8.1-1.4.1-2.1zm31.2-1.3c-.9 1.7-2.1 3.1-3.7 4.1 2-2.1 3.4-4.7 4-7.6.2-.7.3-1.4.3-2.1.6 1.5.5 3.3-.6 5.6z'/%3E%3C/svg%3E") ' ';
}

.firstSection-aboutMe li:nth-child(3n)::marker {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.5 12.5c-.4-1.1-1.3-1.8-2.2-2-4.2-4-11.6-4.3-17.1-4.1-6.9.3-13.9 2.1-19.4 6.5C2 17.5-2.4 25.7 2.5 32.6c2.2 3.2 5.5 4.9 9 5.5 3.3 1.7 6.7 3.3 10.2 4.4 7.8 2.3 17 1.6 23.2-4.3 7.3-7 4.8-17.3 1.6-25.7zm-20.2 2.7c.6 0 1.3 0 1.8.2 1.1.4 1.7 1.3 2 2.3-1-1.2-2.4-2.1-3.8-2.5zm-1.4 6.6c.9.9 1.3 2.2-.2 2.3-2 .2-1.1-1.9.2-2.3zm-11.8 9.8c-.6-.3-2.9-1.1-3.2-1.8-.2-.5 1.4-3.1 2.1-4.2.3.5.7 1 1.2 1.4 0 .3.1.6.2.8.5 1.9 1.5 3.1 2.9 4h-.2c-.8.1-1.6.1-2.5-.1-.2 0-.3 0-.5-.1zM24 36.4c1.6-.7 3-1.5 4.3-2.5.8.2 1.7.3 2.5.5 2.5.4 5.2.9 7.7.6-.9.6-2 1.1-3 1.4-3.9 1.3-7.7 1-11.5 0z'/%3E%3C/svg%3E") ' ';
}

.firstSection-aboutMe li:nth-child(3n - 1)::marker {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M48.3 23.7c-1-9.9-9.9-15.6-18.8-17.8-8.2-2.1-18.8-2.6-24.6 4.8C.6 16.2 1 23.6 4.3 29.3c-.5 1-.8 2-1 3-.6 4 2 7.6 5.1 10 5.9 4.4 14 4.2 19.6-.4 1.5 0 2.9-.2 4.4-.5 1.8 0 3.5 0 5.3-.1 2.3-.1 3.5-1.9 3.5-3.7 4.5-3.3 7.7-8.2 7.1-13.9zM9.1 17.8c1.1-4.1 4.9-5.8 8.8-6.1.9-.1 1.9-.1 2.9-.1-3.2 1.6-6.3 4.6-8 7.4-.1.1-.1.2-.2.3-1.1.9-2.1 1.9-3 2.9-.2.2-.4.4-.5.6-.4-1.7-.5-3.3 0-5z'/%3E%3C/svg%3E") ' ';
} */

#splash {
  position: absolute;
  top: 140px;
  right: -35%;
  opacity: 0.3;
}

.timeline {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  order: 1;
}

.timelineCard {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.508);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1;
  position: relative;
}

.timelineCard h4,
.timelineCard p {
  font-size: var(--size-s);
}

.timelineCard h4 {
  margin: 0;
  margin-bottom: var(--space-xxs);
  padding-top: var(--space-xs);
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  color: var(--hover-color);
}

.timelineCard p {
  margin: 0;
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  padding-bottom: var(--space-xs);
  text-align: center;
  color: var(--grey-color);
}

.timelineCard span {
  font-weight: 600;
}

#komercka {
  padding-bottom: 0;
}

.timelineLine {
  height: var(--space-xs2);
  width: 2px;
  background-color: var(--hover-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
}

.timelineCircle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--hover-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
}

.iconInside {
  font-size: 20px !important;
  padding: calc(var(--space-s) / 4);
}

.iconCircle {
  width: auto;
  height: auto;
  position: absolute;
  color: var(--hover-color);
  background-color: rgba(255, 255, 255, 0.508);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 2;
}

#arrowDown {
  position: absolute;
  font-size: 20px;
  transform: rotate(-90deg);
  bottom: 0;
  color: var(--hover-color);
}

#kpmgIcon,
#htmlIcon,
#ingIcon,
#gitIcon {
  top: -30%;
  right: -2%;
  transform: rotate(10deg);
}

#bcIcon,
#jsIcon,
#reactIcon {
  left: -2%;
  top: -30%;
  transform: rotate(-10deg);
}

#bcIcon,
#ingIcon {
  color: var(--purple-color);
}



/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */





/* SECOND SECTION - SKILLS */
.secondSection-skills {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
}

.secondSection-skills::after {
  content: "";
  height: 100%;
  width: 92%;
  background: linear-gradient(130deg, var(--second-color), #dfecf5, var(--second-color), #b9d8eb, var(--second-color));
  background-size: 600% 600%;
  animation: gradientAnimation 5s ease infinite;
  overflow: hidden;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  position: absolute;
  top:0;
  left: 0;
  z-index: -1;
}

.secondSection-skills .innerBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.secondSection-skills h3 {
  font-size: var(--size-xxl);
  font-family: var(--main-font);
  color: var(--hover-color);
  padding-top: var(--space-m);
  position: relative;
}

.secondSection-skills h3::after {
  content: "";
  width: 60%;
  height: 3px;
  border-radius: 20px;
  background-color: var(--hover-color);
  position: absolute;
  bottom: -15px;
  left: 2px;
}

.secondSection-skills .skills {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  margin-top: var(--space-s);
  margin-bottom: var(--space-m);
}


/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */






/* THIRD SECTION - MÁ PRÁCE */
.thirdSection-portfolio {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to top, #f6f0f9, #f5ecfa, #f4e8fb, #f3e4fc, #f2e0fd, #f2e2fe, #f2e3fe, #f2e5ff, #f4ecff, #f7f2ff, #fbf9ff, #ffffff);
  margin-top: var(--space-xxl);
}

.thirdSection-portfolio .innerBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.thirdSection-portfolio h3 {
  font-size: var(--size-xxl);
  font-family: var(--main-font);
  color: var(--purple-color);
  padding-top: var(--space-m);
  margin-bottom: calc(var(--space-l) * 2);
  position: relative;
}

.thirdSection-portfolio h3::after {
  content: "";
  width: 60%;
  height: 3px;
  border-radius: 20px;
  background-color: var(--purple-color);
  position: absolute;
  bottom: -15px;
  left: 2px;
}

.thirdSection-portfolio .portfolio {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding-bottom: calc(var(--space-l) * 2);
  margin-bottom: calc(var(--space-l) * 2);
  position: relative;
}

.portfolio .portfolioPopisek {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: var(--grey-color);
}

.portfolioPopisek h4 {
  font-size: var(--size-l);
  letter-spacing: 3px;
  font-weight: 400;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: calc(var(--space-s) * 3);
  color: var(--purple-color);
}

.portfolioPopisek a {
  text-decoration: none;
}

.portfolioPopisek h4:hover {
  color: var(--hover-color);
  cursor: pointer;
}

.portfolioPopisek ul {
  padding-left: calc(var(--space-l) * 2);
  font-size: var(--size-m);
}

.portfolioPopisek ul li {
  padding-bottom: var(--space-xs);
  line-height: 1.7;
}

.portfolioPopisek span {
  color: #b3a5bc;
}

.portfolioPopisek span:hover {
  cursor: pointer;
  color: var(--grey-color);
}

.openWebIcon {
  font-size: var(--size-xl) !important;
}

.dividingLine {
  position: absolute;
  width: 40%;
  height: 2px;
  border-radius: 20px;
  background-color: var(--purple-color);
  bottom: 0;
  left: 30%;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* FOURTH SECTION - KONTAKT */


.fourthSection-contact {
  width: 100%;
  height: auto;
  background-color: var(--main-color);
  margin-top: var(--space-xxl);
}

.fourthSection-contact .innerBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.fourthSection-contact h3 {
  font-size: var(--size-xxl);
  font-family: var(--main-font);
  color: var(--hover-color);
  padding-top: var(--space-m);
  position: relative;
}

.fourthSection-contact h3::after {
  content: "";
  width: 60%;
  height: 3px;
  border-radius: 20px;
  background-color: var(--hover-color);
  position: absolute;
  bottom: -15px;
  left: 2px;
}

.fourthSection-contact .contactPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top: var(--space-xxl);
  margin-bottom: calc(var(--space-l) * 2);
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */




/* RESPONSIVITA */


/* Media query for screens up to 900px */
@media (max-width: 900px) {
  .header::after {
    height: 100px; /* Reduced height for medium screens */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none"><path fill="%23ffffff" d="M0,144L48,136C96,128,192,112,288,106.7C384,101,480,96,576,96C672,96,768,106.7,864,120C960,133.3,1056,149.7,1152,154.7C1248,160,1344,149,1392,140L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>') no-repeat bottom center;
  }
}

