
.rolloutButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--second-color);
    border: white 1px solid;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .rolloutIcon {
    font-size: 20px !important; 
    color: var(--hover-color);
    transition-duration: 0.3s;
  }
  
  .rolloutButton:hover {
    width: 140px;
    border-radius: 50px;
    border: 1px solid white;
    background-image: linear-gradient(-45deg, #6bc4f833, #d798e43a, #6bc4f832, #ce8edb3a);
    background-size: 1000% 1000%;
    animation: gradient 5s ease infinite;
  }
  
  .rolloutButton:hover .rolloutIcon {
    transform: translateY(-200%);
  }
  
  .rolloutButton::before {
    position: absolute;
    bottom: -20px;
    content: "Kontaktuj mě";
    color: var(--hover-color);
    font-size: 0;
    transition-duration: 0.3s;
  }
  
  .rolloutButton:hover::before {
    font-size: var(--size-s);
    font-weight: 400;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
  }



  @media only screen and (min-width: 2000px) {
    .rolloutButton {
      width: 60px;
      height: 60px;
    }

    .rolloutIcon {
      font-size: 25px !important; 
    }

    .rolloutButton:hover::before {
      font-size: var(--size-m);
    }
  }

  @media only screen and (max-width: 580px) {
    .rolloutButton {
      width: 40px;
      height: 40px;
    }

    .rolloutIcon {
      font-size: 18px !important; 
    }

    .rolloutButton:hover {
      width: 120px;
    }

    .rolloutButton:hover::before {
      font-size: var(--size-xs);
    }
  }