
.rolloutButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.508);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .rolloutIcon {
    font-size: 20px !important; 
    color: var(--hover-color);
    transition-duration: 0.3s;
  }
  
  .rolloutButton:hover {
    width: 140px;
    border-radius: 50px;
    background-color: var(--second-color);
  }
  
  .rolloutButton:hover .rolloutIcon {
    transform: translateY(-200%);
  }
  
  .rolloutButton::before {
    position: absolute;
    bottom: -20px;
    content: "Kontaktuj mě";
    color: var(--hover-color);
    font-size: 0;
    transition-duration: 0.3s;
  }
  
  .rolloutButton:hover::before {
    font-size: var(--size-s);
    font-weight: 400;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
  }